.g-recaptcha {
    display: inline-block;
}

.tableToggler{
    float: right;
}
.table-search{
    float: right;
}
.table-search-input .ui-input-filled .ui-inputfield{
    background-color: white !important;
    padding-right: 0px;
}
#globalFilter .ui-input-filled .ui-inputfield, body.ui-input-filled .ui-inputfield.ui-state-hover {
    background-color: white;
}
#globalFilter .ui-input-filled .ui-inputfield, body.ui-input-filled .ui-inputfield.ui-state-focus{
    background-color: white;
}
.footer-lang.ui-selectonemenu .ui-selectonemenu-trigger {
    display: none !important;
}
.footer-lang.ui-selectonemenu .ui-selectonemenu-label{
    padding-right: 0px !important;
}
#login-wrapper #login-container{
    height: 440px!important;
}
@media (max-width: 640px) {
    .ui-datatable-reflow .ui-reflow-label, .ui-datatable-reflow .ui-reflow-dropdown {
        display: none !important;
    }

    .ui-datatable-reflow .ui-reflow-dropdown {
        display: none !important;
    }
    .tableToggler{
        display: none !important;
    }

    #login-wrapper #login-container{
        height: 500px !important;
    }
}