@font-face {
    font-family: 'IranSans';
    src: url("#{resource['omega-layout:fonts/IRANSans-web.eot']}");
    src: url("#{resource['omega-layout:fonts/IRANSans-web.eot']}#iefix") format('embedded-opentype'),
    url("#{resource['omega-layout:fonts/IRANSans-web.woff']}") format('woff'),
    url("#{resource['omega-layout:fonts/IRANSans-web.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vazirmatn';
    url("#{resource['omega-layout:fonts/Vazirmatn-Regular.woff2']}") format('woff'),
    url("#{resource['omega-layout:fonts/Vazirmatn-Regular.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yekan';
    src: url("#{resource['omega-layout:fonts/Yekan.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: IranSans !important;
    direction: rtl;
!important;
}

.wrapper .sidebar {
    right: 0px !important;
    transition: all 0.3s !important;
}

.wrapper .topbar {
    right: 250px !important;
    left: 0px !important;
    transition: all 0.3s !important;
}

.wrapper .footer {
    margin-left: 0px !important;
    margin-right: 250px !important;
    transition: all 0.3s !important;
    font-size: 12px !important;
}

.wrapper .main {
    margin-left: 0px !important;
    margin-right: 250px !important;
    transition: all 0.3s !important;
}

.footer-lang {
    float: left !important;
}

.footer-lang.ui-selectonemenu .ui-selectonemenu-trigger {
    display: none !important;
}

.wrapper .sidebar ul li > a .layout-submenu-toggler {
    float: left !important;
}

.wrapper .sidebar ul li > a span {
    margin-right: 0.3em !important;
}

.wrapper .sidebar ul li > a {
    font-size: 12px !important;
}

.wrapper .topbar #omega-menu-button {
    float: right !important;
}

.wrapper .topbar .topbar-title {
    vertical-align: top !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    font-size: 16px !important;
}

.wrapper .topbar #topbar-icons a {
    margin-right: 20px !important;
    margin-left: 0px !important;
}

.ui-datatable thead th {
    text-align: right !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    left: 0px !important;
    right: auto !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
    text-align: right !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    text-align: right !important;
}

/*element {*/
/*    margin-right: 10px;*/
/*}*/
#login-wrapper #login-container{
    height: 460px !important;
}
#login-wrapper #login-container .ui-chkbox {
    margin-right: 10px;
}

#locale .ui-selectonemenu .ui-selectonemenu-trigger {
    display: none;
}

body .ui-datatable thead th .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    margin-right: 10px !important;
}

.tableToggler {
    float: right;
}

.table-new {
    float: right;
}

.table-search-input .ui-input-filled .ui-inputfield {
    background-color: white !important;
    padding-left: 0px;
}

#globalFilter .ui-input-filled .ui-inputfield, body.ui-input-filled .ui-inputfield.ui-state-hover {
    background-color: white;
}

#globalFilter .ui-input-filled .ui-inputfield, body.ui-input-filled .ui-inputfield.ui-state-focus {
    background-color: white;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    margin-left: 5px;
    margin-right: 0px;
}

.wrapper .sidebar .profile > ul {
    text-align: right !important;
}

.wrapper .sidebar ul li > a .menu-badge {
    left: 32px !important;
    right: auto !important;
}

.dashboard .summary .detail {
    margin-top: 0px !important;
}

body .ui-widget {
    font-family: iranSans;
    font-size: 12px;
}

.ui-columntoggler .ui-columntoggler-item {
    text-align: right !important;
}

body .ui-columntoggler .ui-columntoggler-items .ui-columntoggler-item .ui-chkbox {
    margin-left: 10px !important;
}

body .ui-datatable thead th .ui-column-title {
    font-weight: 200 !important;
}

.dashboard .summary .title {
    font-size: 1.18rem !important;
}
.detail{
    font-size: 0.9rem !important;
}

h5 {
    font-size: 1.1rem !important;
}
#login-wrapper #login-container a{
    font-size: 14px !important;
}
.remember-me{
    font-size: 12px !important;
}
body .ui-panel .ui-panel-titlebar {
    font-weight: 500 !important;
}
.captcha{
    padding-right: 28px!important;
    padding-left: 28px!important;
}


@media (min-width: 1025px) {
    .wrapper.sidebar-inactive-l .topbar {
        right: 0px !important;
    }

    .wrapper.sidebar-inactive-l .footer {
        margin-right: 0 !important;;
    }

    .wrapper.sidebar-inactive-l .sidebar {
        right: -249px !important;
    }

    .wrapper.sidebar-inactive-l .main {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media (max-width: 1024px) {
    .wrapper.sidebar-active-m .sidebar {
        margin-right: 0;
    }

    .wrapper .sidebar {
        margin-right: -250px;
        margin-top: 50px;
        width: 250px;
    }

    .wrapper .topbar {
        right: 0 !important;
    }

    .wrapper .main {
        margin-right: 0 !important;
    }

    /*.wrapper .topbar #topbar-icons{*/
    /*    left: 10px!important;*/
    /*    right: 200px !important;*/
    /*    text-align: right;*/
    /*}*/
    .wrapper .footer {
        margin-right: 0px !important;
    }

    @media (max-width: 640px) {
        .wrapper .topbar #topbar-icons {
            left: 10px !important;
            right: 200px !important;
            text-align: right !important;
        }

        .wrapper .topbar #topbar-icons a span.topbar-icon {
            float: right !important;
        }

        .ui-datatable-reflow .ui-reflow-label, .ui-datatable-reflow .ui-reflow-dropdown {
            display: none !important;
        }

        .ui-datatable-reflow .ui-reflow-dropdown {
            display: none !important;
        }

        .ui-datatable-reflow .ui-datatable-data td[role="gridcell"] .ui-column-title {
            float: right !important;
        }

        .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden) {
            text-align: right !important;
        }

        .wrapper .topbar #topbar-icons a span.topbar-item-text {
            font-size: 14px !important;
        }

        .tableToggler {
            display: none !important;
        }

        .wrapper .topbar #topbar-icons a span.topbar-badge {
            right: auto !important;
            left: 10px !important;
        }
        #login-wrapper #login-container{
            height: 500px !important;
        }
        .captcha{
            padding-right: 0px !important;
            padding-left: 28px !important;
        }

    }

}


