.tableToggler{
    float: right;
}
.table-search{
    float: right;
}
.table-search-input .ui-input-filled .ui-inputfield{
    background-color: white !important;
}
#globalFilter .ui-input-filled .ui-inputfield, body.ui-input-filled .ui-inputfield.ui-state-hover {
    background-color: white;
}
#globalFilter .ui-input-filled .ui-inputfield, body.ui-input-filled .ui-inputfield.ui-state-focus{
    background-color: white;
}